Source: ros-hydro-kobuki-random-walker
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-ecl-threads, ros-hydro-geometry-msgs, ros-hydro-kobuki-msgs, ros-hydro-nodelet, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-yocs-controllers
Homepage: http://ros.org/wiki/kobuki_random_walker
Standards-Version: 3.9.2

Package: ros-hydro-kobuki-random-walker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-ecl-threads, ros-hydro-geometry-msgs, ros-hydro-kobuki-msgs, ros-hydro-nodelet, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-yocs-controllers
Description: Random walker app for Kobuki
