Source: ros-hydro-kobuki
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/kobuki
Standards-Version: 3.9.2

Package: ros-hydro-kobuki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-kobuki-auto-docking, ros-hydro-kobuki-bumper2pc, ros-hydro-kobuki-controller-tutorial, ros-hydro-kobuki-description, ros-hydro-kobuki-keyop, ros-hydro-kobuki-node, ros-hydro-kobuki-random-walker, ros-hydro-kobuki-safety-controller, ros-hydro-kobuki-testsuite
Description: Software for Kobuki, Yujin Robot's mobile research base.
